.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  &__text {
    width: 60%;
    text-align: center;
    @media only screen and (max-width: 50em) {
      width: 80%;
      margin-top: 2rem;
    }
  }
}
.heading {
  font-size: 3.2rem;
  &-1 {
    font-weight: 200;
  }
  &-2 {
    font-weight: 600;
    color: $color-dark-blue;
    margin-top: -1rem;
  }
}
